extends layout

block content
  h1 Address Book
  
  table.table.table-hover
    thead
      tr
        th Name
        th Email
        th
    tbody
      each contact in contactsDB
        tr
          td #{contact.name}
          td #{contact.email}
          td 
            a.btn(href=`/contacts/${contact.uuid}`) View
            a.btn(href=`/contacts/${contact.uuid}/edit`) Edit
            form(action=`/contacts/${contact.uuid}` method="POST")
              input(type="hidden" name="_method" value="DELETE")
              button.btn(type="submit") DELETE
